.right_detailPage{
    flex: 1 1 0;
    background-color: #fff;
    height: 100%;
    padding: 0 !important;
}

.left_detailPage{
    background-color: #fff;
    height: 100%;
    max-width: 400px !important;
    border-right: 1px solid #ccc;
}