// Codepen presentation
.container {
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 0 ;
  }
.card_title{
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
