header > p > a.active{
    color: palevioletred;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #3846AD;
    align-items: center;
    position: relative;

    &__category{
        display: flex;
        align-items: center;
        gap: 30px;
        color: #fff;
        a{
            color:#fff;
        &:hover{
            color: palevioletred;
        }
        }
        p{
            margin: 0;
        }
    }
    &__logo{
    a{
        color: #fff;
        &:hover{
            color: palevioletred;
        }
    }
    padding: 4px;
       i{
           font-size: 50px;
       }
    }
    &__register{
        cursor: pointer;
    }
    .modal-content {
        position: relative;
        transform: translate(-50%,50%);
        left: 50%;
        top: 50%;
    }
    .btn-secondary {
        color: #fff !important;
        background-color: #7f88ca!important;
        border: none;
    &:hover {
        background-color: transparent;
    }
    &:active {
        background-color: transparent;
    }
    }
}